In [3]:
import pandas as pd
import os

database_path = "/mnt/L-HDD/database"

beatmaps_csv = os.path.join(database_path, "beatmaps.csv")
hit_objects_csv = os.path.join(database_path, "hit_objects.csv")
time_points_csv = os.path.join(database_path, "timing_points.csv")

beatmaps_df = pd.read_csv(beatmaps_csv)
hit_objects_df = pd.read_csv(hit_objects_csv)
time_points_df = pd.read_csv(time_points_csv)

In [4]:
display(beatmaps_df.head())

,ID,Title,Artist,Creator,Version,HPDrainRate,CircleSize,OverallDifficulty,ApproachRate,SliderMultiplier,SliderTickRate
0,1924179-0,stella,miraie,Ajitani Hifumi,tranquillity,6.0,4.0,8.5,9.2,1.4,1.0
1,1924179-1,stella,miraie,Ajitani Hifumi,normal,3.0,3.2,4.5,5.5,1.0,1.0
2,1924179-2,stella,miraie,Ajitani Hifumi,insane,5.0,3.8,7.6,8.8,1.4,1.0
3,1924179-3,stella,miraie,Ajitani Hifumi,hard,4.0,3.6,6.0,8.0,1.4,1.0
4,414530-0,Kimi to Iu Tokuiten [singular you],fhana,Sotarks,Noz's Normal,3.2,3.0,4.2,5.0,1.2,1.0

In [5]:
display(hit_objects_df.head())

,ID,Time,Type,X,Y,HitSound,Extra
0,1924179-0,10375,slider,109,29,0,P|75:78|38:167
1,1924179-0,10863,circle,82,231,0,NaN
2,1924179-0,11025,slider,20,328,0,B|48:322|48:322|57:322|57:322|105:312
3,1924179-0,11350,slider,231,288,0,B|199:294|199:294|190:294|190:294|162:300
4,1924179-0,11676,slider,289,204,0,B|325:191|361:214|351:229|388:249|423:235

In [6]:
display(time_points_df.head())

,ID,offset,ms_per_beat,time_signature,meter,sample_set,sample_index,volume,effects
0,1924179-0,-29.0,325.141572,4.0,2.0,1.0,70.0,1.0,0.0
1,1924179-0,10375.0,-100.000000,4.0,2.0,1.0,60.0,0.0,0.0
2,1924179-0,20780.0,-76.923077,4.0,2.0,1.0,80.0,0.0,1.0
3,1924179-0,41589.0,-76.923077,4.0,2.0,1.0,80.0,0.0,0.0
4,1924179-0,41670.0,-76.923077,4.0,2.0,1.0,40.0,0.0,0.0

In [7]:
beatmaps_df.head()

,ID,Title,Artist,Creator,Version,HPDrainRate,CircleSize,OverallDifficulty,ApproachRate,SliderMultiplier,SliderTickRate
0,1924179-0,stella,miraie,Ajitani Hifumi,tranquillity,6.0,4.0,8.5,9.2,1.4,1.0
1,1924179-1,stella,miraie,Ajitani Hifumi,normal,3.0,3.2,4.5,5.5,1.0,1.0
2,1924179-2,stella,miraie,Ajitani Hifumi,insane,5.0,3.8,7.6,8.8,1.4,1.0
3,1924179-3,stella,miraie,Ajitani Hifumi,hard,4.0,3.6,6.0,8.0,1.4,1.0
4,414530-0,Kimi to Iu Tokuiten [singular you],fhana,Sotarks,Noz's Normal,3.2,3.0,4.2,5.0,1.2,1.0