# FILTER OLD BEATMAPS

In [40]:
import pandas as pd
import os

database_path = "/mnt/L-HDD/dataset"

beatmaps_csv = os.path.join(database_path, "beatmaps.csv")
hit_objects_csv = os.path.join(database_path, "hit_objects.csv")
time_points_csv = os.path.join(database_path, "timing_points.csv")

beatmaps_df = pd.read_csv(beatmaps_csv, parse_dates=["ranked_date"])
hit_objects_df = pd.read_csv(hit_objects_csv)
time_points_df = pd.read_csv(time_points_csv)

In [41]:
beatmaps_df.head()

,ID,Title,Artist,Creator,Version,HPDrainRate,CircleSize,OverallDifficulty,ApproachRate,SliderMultiplier,SliderTickRate,beatmap_id,ranked_date
0,1509063-0,Break Away (feat. RIENK),Andromedik,Flowziee,Tachi's Hard,3.5,3.6,6.2,7.6,1.42,1.0,1509063,2024-09-05 15:44:10+00:00
1,1509063-1,Break Away (feat. RIENK),Andromedik,Flowziee,Reminiscent,5.0,4.2,9.0,9.3,1.60,1.0,1509063,2024-09-05 15:44:10+00:00
2,1509063-2,Break Away (feat. RIENK),Andromedik,Flowziee,Freude's Extra,5.0,3.9,8.7,9.1,1.60,1.0,1509063,2024-09-05 15:44:10+00:00
3,1509063-3,Break Away (feat. RIENK),Andromedik,Flowziee,JayBone's Insane,5.0,4.0,8.0,9.0,1.50,1.0,1509063,2024-09-05 15:44:10+00:00
4,614286-1,ending note,Yousei Teikoku,Saten,Paradox,2.0,4.0,9.0,10.0,2.00,2.0,614286,2025-01-24 09:02:44+00:00

In [42]:
hit_objects_df.head()

,ID,Time,Type,X,Y,HitSound,Extra,beatmap_id
0,1509063-0,3580,slider,135,26,0,B|181:10|217:45|225:69|225:69|235:91|271:132|3...,1509063
1,1509063-0,4270,slider,385,75,0,P|349:124|353:174,1509063
2,1509063-0,4615,circle,365,204,0,NaN,1509063
3,1509063-0,4787,circle,365,204,0,NaN,1509063
4,1509063-0,5132,circle,414,371,0,NaN,1509063

In [43]:
time_points_df.head()

,ID,time,beat_length,meter,sample_set,sample_index,volume,uninherited,effects,beatmap_id
0,1509063-0,3581.0,344.827586,4,3,1,60,1.0,0.0,1509063
1,1509063-0,3581.0,-108.695652,4,3,1,60,0.0,0.0,1509063
2,1509063-0,4529.0,-108.695652,4,3,1,5,0.0,0.0,1509063
3,1509063-0,4615.0,-108.695652,4,3,1,60,0.0,0.0,1509063
4,1509063-0,5908.0,-108.695652,4,3,1,5,0.0,0.0,1509063

In [44]:
empty_cells = time_points_df[time_points_df.isna().any(axis=1)]
empty_cell_ids = set(empty_cells["beatmap_id"])
empty_cell_ids

{1652, 1818, 3730}

In [45]:
beatmaps_df[beatmaps_df["beatmap_id"].isin(empty_cell_ids)]

,ID,Title,Artist,Creator,Version,HPDrainRate,CircleSize,OverallDifficulty,ApproachRate,SliderMultiplier,SliderTickRate,beatmap_id,ranked_date
3010,3730-0,Comment te dire adieu,Orange Lounge,Takuma,Hard,6.0,6.0,6.0,NaN,0.9,1.0,3730,2008-11-05 22:41:39+00:00
3011,3730-1,Comment te dire adieu,Orange Lounge,Takuma,Normal,4.0,5.0,3.0,NaN,0.9,1.0,3730,2008-11-05 22:41:39+00:00
7123,1818-0,DJ KK,Animal Crossing,Nharox,Normal,6.0,5.0,6.0,NaN,1.4,2.0,1818,2008-07-17 23:00:58+00:00
7124,1818-1,DJ KK,Animal Crossing,Nharox,Easy,5.0,4.0,5.0,NaN,1.4,2.0,1818,2008-07-17 23:00:58+00:00
7125,1818-2,DJ KK,Animal Crossing,Nharox,Hard,6.0,6.0,6.0,NaN,1.4,2.0,1818,2008-07-17 23:00:58+00:00
9136,1652-0,Battle Frontier,Akitomo Takaya,eirrol,Normal,3.0,4.0,3.0,NaN,1.5,2.0,1652,2008-09-01 21:31:12+00:00
9137,1652-1,Battle Frontier,Akitomo Takaya,eirrol,Easy,0.0,4.0,2.0,NaN,1.3,2.0,1652,2008-09-01 21:31:12+00:00
9138,1652-2,Battle Frontier,Akitomo Takaya,eirrol,Hard,5.0,5.0,6.0,NaN,1.5,2.0,1652,2008-09-01 21:31:12+00:00
9139,1652-3,Battle Frontier,Akitomo Takaya,eirrol,Insane,5.0,6.0,6.0,NaN,1.5,2.0,1652,2008-09-01 21:31:12+00:00

In [58]:
filtered_beatmaps_df = beatmaps_df[beatmaps_df["ranked_date"] > "2010-01-01"]
filtered_ids = filtered_beatmaps_df["ID"]
filtered_ids

0        1509063-0
1        1509063-1
2        1509063-2
3        1509063-3
4         614286-1
           ...
10036    2264392-1
10037    2264392-2
10038    2260460-0
10039    2260460-1
10040    2260460-2
Name: ID, Length: 9987, dtype: object

In [64]:
filtered_hit_objects_df = hit_objects_df[hit_objects_df["ID"].isin(filtered_ids)]
len(filtered_hit_objects_df), len(hit_objects_df)

(5253034, 5268942)

In [65]:
filtered_time_points_df = time_points_df[time_points_df["ID"].isin(filtered_ids)]
len(filtered_time_points_df), len(time_points_df)

(973683, 974137)

In [66]:
new_dataset_path = "/mnt/L-HDD/post_2010_dataset/"
filtered_beatmaps_df.to_csv(os.path.join(new_dataset_path, "beatmaps.csv"), index=False)
filtered_hit_objects_df.to_csv(os.path.join(new_dataset_path, "hit_objects.csv"), index=False)
filtered_time_points_df.to_csv(os.path.join(new_dataset_path, "timing_points.csv"), index=False)

In [75]:
import shutil
audio_folder = os.path.join(database_path, "audio")
new_audio_folder = os.path.join(new_dataset_path, "audio")

for folder in os.listdir(audio_folder):
    if(folder in set([id.split("-")[0] for id in filtered_ids])):
        shutil.copytree(os.path.join(audio_folder, folder), os.path.join(new_audio_folder,folder))

# OSU OAUTH

In [41]:
from dotenv import load_dotenv
import requests

load_dotenv()
CLIENT_ID = os.getenv("CLIENT_ID")
CLIENT_SECRET = os.getenv("CLIENT_SECRET")


def get_access_token():
    url = "https://osu.ppy.sh/oauth/token"
    headers = {"Content-Type": "application/x-www-form-urlencoded"}
    data = {
        "client_id": CLIENT_ID,
        "client_secret": CLIENT_SECRET,
        "grant_type": "client_credentials",
        "scope": "public",
    }

    response = requests.post(url, headers=headers, data=data)
    return response.json().get("access_token")

access_token = get_access_token()

# Fill Null cells

In [1]:
import pandas as pd
import os

database_path = "/mnt/L-HDD/post_2010_dataset/"

beatmaps_csv = os.path.join(database_path, "beatmaps.csv")
hit_objects_csv = os.path.join(database_path, "hit_objects.csv")
time_points_csv = os.path.join(database_path, "timing_points.csv")

beatmaps_df = pd.read_csv(beatmaps_csv, parse_dates=["ranked_date"])
hit_objects_df = pd.read_csv(hit_objects_csv)
time_points_df = pd.read_csv(time_points_csv)

In [2]:
beatmaps_df[beatmaps_df["ID"] == "1498469-2"] # No idea why it's missing.

,ID,Title,Artist,Creator,Version,HPDrainRate,CircleSize,OverallDifficulty,ApproachRate,SliderMultiplier,SliderTickRate,beatmap_id,ranked_date
6292,1498469-2,Turn A,"BEMANI Sound Team ""HuMeR"" respect for D.J.Amuro",Nerova Riuz GX,NaN,5.4,5.0,8.4,9.5,1.4,1.0,1498469,2024-12-15 10:42:44+00:00

In [3]:
beatmaps_df.loc[beatmaps_df["ID"] == "1498469-2", ["Version"]] = "N/A" # N/A is the real verison name...
beatmaps_df[beatmaps_df["ID"] == "1498469-2"]

,ID,Title,Artist,Creator,Version,HPDrainRate,CircleSize,OverallDifficulty,ApproachRate,SliderMultiplier,SliderTickRate,beatmap_id,ranked_date
6292,1498469-2,Turn A,"BEMANI Sound Team ""HuMeR"" respect for D.J.Amuro",Nerova Riuz GX,N/A,5.4,5.0,8.4,9.5,1.4,1.0,1498469,2024-12-15 10:42:44+00:00

In [4]:
empty_cells = beatmaps_df[beatmaps_df.isna().any(axis=1)]

In [5]:
empty_cell_ids = set(empty_cells["beatmap_id"])

In [6]:
def get_beatmapset_status(beatmapset_id, access_token):
    url = f"https://osu.ppy.sh/api/v2/beatmapsets/{beatmapset_id}"
    headers = {"Authorization": f"Bearer {access_token}", "Accept": "application/json"}

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        beatmapset = response.json()
        beatmaps = {}
        for beatmap in beatmapset.get("beatmaps"):
            beatmaps[beatmap["version"]] = beatmap["ar"]
        return beatmaps
    else:
        return f"Error: {response.status_code} - {response.text}"

In [7]:
import time
ars = {}
for id in empty_cell_ids:
    ars[id] = get_beatmapset_status(id, access_token)
    time.sleep(0.2)

In [8]:
def fill_approach_rate(row):
    beatmap_id = row["beatmap_id"]
    version = row["Version"]
    
    if beatmap_id in ars:
        return ars[beatmap_id].get(version, None)
    return row["ApproachRate"]

beatmaps_df["ApproachRate"] = beatmaps_df.apply(fill_approach_rate, axis=1)

In [9]:
empty_cells = beatmaps_df[beatmaps_df.isna().any(axis=1)]
empty_cells.head()

Empty DataFrame
Columns: [ID, Title, Artist, Creator, Version, HPDrainRate, CircleSize, OverallDifficulty, ApproachRate, SliderMultiplier, SliderTickRate, beatmap_id, ranked_date]
Index: []

In [10]:
empty_cells = hit_objects_df[hit_objects_df.isna().any(axis=1)]
empty_cells

Empty DataFrame
Columns: [ID, Time, Type, X, Y, HitSound, Extra, beatmap_id]
Index: []

In [110]:
hit_objects_df["Extra"].fillna(0, inplace=True)

/tmp/ipykernel_108343/1974949763.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hit_objects_df["Extra"].fillna(0, inplace=True)

In [112]:
empty_cells = hit_objects_df[hit_objects_df.isna().any(axis=1)]
empty_cells.head()

Empty DataFrame
Columns: [ID, Time, Type, X, Y, HitSound, Extra, beatmap_id]
Index: []

In [113]:
empty_cells = time_points_df[time_points_df.isna().any(axis=1)]
empty_cells.head()

Empty DataFrame
Columns: [ID, time, beat_length, meter, sample_set, sample_index, volume, uninherited, effects, beatmap_id]
Index: []

In [119]:
dataset_path = "/mnt/L-HDD/post_2010_dataset/"
beatmaps_df.to_csv(os.path.join(dataset_path, "beatmaps.csv"), index=False)
hit_objects_df.to_csv(os.path.join(dataset_path, "hit_objects.csv",), index=False)
time_points_df.to_csv(os.path.join(dataset_path, "timing_points.csv"), index=False)

# Drop sample_index column

[sample_index](https://osu.ppy.sh/wiki/en/Client/File_formats/osu_%28file_format%29): Custom sample index for hit objects. 0 indicates osu!'s default hitsounds.

Since we won't generate custom hitsound, we will treat like all beatmaps uses default hitsound.

In [13]:
timing_points = os.path.join(database_path, "timing_points.csv")
timing_points_df = pd.read_csv(timing_points)
timing_points_df

,ID,time,beat_length,meter,sample_set,sample_index,volume,uninherited,effects,beatmap_id
0,1509063-0,3581.0,344.827586,4,3,1,60,1.0,0.0,1509063
1,1509063-0,3581.0,-108.695652,4,3,1,60,0.0,0.0,1509063
2,1509063-0,4529.0,-108.695652,4,3,1,5,0.0,0.0,1509063
3,1509063-0,4615.0,-108.695652,4,3,1,60,0.0,0.0,1509063
4,1509063-0,5908.0,-108.695652,4,3,1,5,0.0,0.0,1509063
...,...,...,...,...,...,...,...,...,...,...
973678,2260460-2,62700.0,-83.333333,4,2,0,85,0.0,1.0,2260460
973679,2260460-2,76762.0,-83.333333,4,2,0,85,0.0,0.0,2260460
973680,2260460-2,77700.0,-83.333333,4,2,0,85,0.0,1.0,2260460
973681,2260460-2,96450.0,-100.000000,4,2,0,70,0.0,0.0,2260460
973682,2260460-2,98325.0,-100.000000,4,2,0,55,0.0,0.0,2260460

In [14]:
timing_points_df.drop(columns=["sample_index"], inplace=True)

In [16]:
timing_points_df.head()

,ID,time,beat_length,meter,sample_set,volume,uninherited,effects,beatmap_id
0,1509063-0,3581.0,344.827586,4,3,60,1.0,0.0,1509063
1,1509063-0,3581.0,-108.695652,4,3,60,0.0,0.0,1509063
2,1509063-0,4529.0,-108.695652,4,3,5,0.0,0.0,1509063
3,1509063-0,4615.0,-108.695652,4,3,60,0.0,0.0,1509063
4,1509063-0,5908.0,-108.695652,4,3,5,0.0,0.0,1509063

In [17]:
timing_points_df.to_csv(timing_points, index=False)