In [1]:
import os
import pandas as pd

data_path = "/mnt/L-HDD/dataset/splitted.csv"
df = pd.read_csv(data_path)

/tmp/ipykernel_8558/1334417533.py:5: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path)

In [2]:
df

,unique_id,ID,Time,Type,X,Y,HitSound,Repeat,Length,beatmap_id,...,Path_7282,Path_7283,Path_7284,Path_7285,Path_7286,Path_7287,Path_7288,Path_7289,Path_7290,Path_7291
0,9380,1178020-0,73016.000000,circle,153,120,2,0,0.0,1178020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9603,1178020-0,126525.000000,circle,374,366,8,0,0.0,1178020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9602,1178020-0,126453.000000,circle,345,338,8,0,0.0,1178020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9601,1178020-0,126381.000000,circle,334,299,10,0,0.0,1178020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9600,1178020-0,126309.000000,circle,320,261,8,0,0.0,1178020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35652,17449,2333780-4,62441.000000,circle,320,212,0,0,0.0,2333780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35653,17448,2333780-4,61879.000000,slider,188,300,0,1,120.0,2333780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35654,17447,2333780-4,61504.000000,circle,76,344,0,0,0.0,2333780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35655,17455,2333780-4,64504.000000,circle,416,324,2,0,0.0,2333780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35656,35657,2333780-4,164.141859,break,-1,-1,-1,-1,-1.0,2333780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
list(df.columns)[:20]

['unique_id',
 'ID',
 'Time',
 'Type',
 'X',
 'Y',
 'HitSound',
 'Repeat',
 'Length',
 'beatmap_id',
 'RMS',
 'beat_length',
 'meter',
 'slider_velocity',
 'sample_set',
 'volume',
 'effects',
 'curve_type',
 'spinner_time',
 'Path_1']

In [ ]:
# osu grid -> 512x384

In [3]:
# It's about nobarline. When nobarline is on, it flips the 4. bit which means adding 8.

def correct_effect_value(x):
    if(x > 8):
        return x != 5746
    return 0 if x == 8 else x

df["effects"] = df["effects"].apply(correct_effect_value)

In [3]:
categorical_cols = ["Type", "HitSound", "sample_set", "effects"]
df = pd.get_dummies(df, columns=categorical_cols)

NameError: name 'pd' is not defined

In [4]:
from sklearn.preprocessing import MinMaxScaler

df["RMS"] = df["RMS"].str.replace("[", "").str.replace("]", "")
numerical_cols = ["X", "Y", "beat_length", "meter", "slider_velocity", "volume", "RMS"]
scaler = MinMaxScaler()

df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

NameError: name 'df' is not defined